/* 1440 */
@font-face {
	src: url('../fonts/Krub/Krub-Regular.ttf') format('truetype');
	font-family: 'Krub';
	font-weight: 400;
	font-style: normal;
}
@font-face {
	src: url('../fonts/Krub/Krub-SemiBold.ttf') format('truetype');
	font-family: 'Oswald';
	font-weight: 600;
	font-style: normal;
}
@font-face {
	src: url('../fonts/Krub/Krub-Bold.ttf') format('truetype');
	font-family: 'Oswald';
	font-weight: 700;
	font-style: normal;
}
@font-face {
	src: url('../fonts/Oswald/Oswald-Regular.ttf') format('truetype');
	font-family: 'Oswald';
	font-weight: 400;
	font-style: normal;
}
@font-face {
	src: url('../fonts/Oswald/Oswald-SemiBold.ttf') format('truetype');
	font-family: 'Oswald';
	font-weight: 600;
	font-style: normal;
}
p {
    color: #fff;
    font-family: 'Krub', Helvetica, Arial, sans-serif;
    font-size: 20px;
}
.page {
    font-family: 'Krub', Helvetica, Arial, sans-serif;
    background-color: #121212;
    min-height: 100vh;
    margin: 0;
    font-size: 20px;
}
.header {
    display: flex;
    margin: 47px 3vw 0 3vw;
    width: 94vw;
    max-width: 1440px;
    justify-content: space-between;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
}
.logo-wrapper {
    display: flex;
}
.square {
    background-color: #fff;
    width: 18px;
    height: 18px;
    margin-top: 8px;
}
.header-ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    line-height: 1.6;
    padding: 0;
}
.header-links {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}
.link-containter:not(:last-child) {
    padding-right: 126px;
}
.sign-in {
    margin: 0;
    line-height: 0.8;
    background-color: #fff;
    color: #181818;
    padding: 8px 24px;
    text-transform: uppercase;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
}
.header-links {
    padding-bottom: 7px;
    border-bottom: 2px solid white;
}
.grid-wrapper {
    margin-top: 89px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "label pic year"
      "label2 pic intro"
      "lable2 pic intro"; 
}
.pic { 
    grid-area: pic;
}
.year { 
    grid-area: year; 
}
.intro { 
    grid-area: intro; 
}
.label { 
    grid-area: label; 
}
.label2 { 
    grid-area: label2; 
}
.circle {
        width: 375.75px;
        height: 375.75px;
        background-color: #a460f9;
        border-radius: 50%;
}
.intro-pic {
    filter: grayscale(1);
    max-width: 307px;
    height: auto;
}
.circle {
    width: 375.75px;
    height: 375.75px;
    background-color: #a460f9;
    border-radius: 50%;
}
.ui {
    font-size: 60px;
}